@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
header{
    padding: 50px 0;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(27, 0, 0, 1) 100%);
    width: 100%;
}
.container{
    width: 1400px;
    margin: 0 auto;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style: none;/*убирает точки у списка*/
    display: flex;/*в строку*/
    justify-content: space-between;/*на всю ширину*/
    z-index: 2;
    position: relative;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li:not(.active):not(.btn) a:hover{/*при навидении*/
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;/*скругление*/
    transition: all 500ms ease;/*плавность перехлда*/
}
header nav ul li.btn a:hover{
    background: #763e03;
    color: #ffe5ca;
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 15px;
    left: -15px;
}

.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero--info{
    width: 530px;
    padding: 70px;
}

.hero--info h2{
    color: #FA9021;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn{
    background: #FA9021;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
    margin-top: 40px;
}
.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #763e03;
    color: #ffe5ca;
}

.hero img{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
}

/*---Games---*/

.trending{
    padding: 50px;
}

.trending h3{
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all{
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;

}
.trending .see-all:hover{
    transform: scale(1.1);
    background: #463f38;
    color: #ffe5ca;
}

.trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.trending .games img{
    width: 300px;
}

.trending .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.trending .games span img{
    width: 20px;
    top: 5px;
    margin-right: 10px;
}

.big-text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner{
    padding: 80px 0;
}
.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 520px;
}
.banner img{
    width: 1500px;
    height: 550px;
    object-fit: cover;
    object-position: 50% 80%;
}

